html {
	height: 100%;
	height: 100dvh;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

:root {
	--pico-font-size: 14px;
	--pico-primary-background: var(--pico-primary);
}

@media screen and (min-width: 576px) {
	:root {
		--pico-font-size: 15px;
	}
}

@media screen and (min-width: 768px) {
	:root {
		--pico-font-size: 16px;
	}
}

button.unpico,
a[role='button'].unpico {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	color: var(--pico-h1-color);
}

button:not(.big),
button[type='submit']:not(.big),
[type='button']:not(.big),
[role='button']:not(.big) {
	padding: 0.25rem 0.5rem;
}

.error-msg {
	display: block;
	color: var(--pico-del-color);
	margin-bottom: 0 !important;
}

button.outline:not(.unpico),
a[role='button'].outline:not(.unpico),
summary[role='button'].outline:not(.unpico) {
	outline-style: none;
}

a.no-decoration:hover,
a.no-decoration:focus,
a.no-decoration:active {
	text-decoration: none !important;
	color: var(--pico-primary) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	--pico-font-weight: 500;
}

p {
	text-align: justify;
}
